@model MvcDbStok.Models.Entity.TblMusteriler
@{
    ViewBag.Title = "MusteriEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">

    <div>
        <label>Musteri Adı</label>
        @Html.TextBoxFor(m => m.MusteriAd, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MusteriAd, "", new { @style = "color:green" })
    </div>
    <div>
        <label>Musteri Soyadı</label>
        @Html.TextBoxFor(m => m.MusteriSoyad, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MusteriSoyad, "", new { @style = "color:green" })
    </div>

    <div style="margin-top:15px;">
        <button class="btn btn-info" id="btn1">Musteri Ekle</button>
    </div>

    <script>
        $('#btn1').click(function () {
            alert('Müşteri Ekleme İşlemi Yapıldı....!')
        });
    </script>

</form>

